@use './_tokens.scss' as *;

.u-row {
  display: flex;
  align-items: center;
}

.u-col {
  display: flex;
  flex-direction: column;
}

.u-gap-2 {
  gap: $space-2;
}

.u-gap-3 {
  gap: $space-3;
}

.u-gap-4 {
  gap: $space-4;
}

.u-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.u-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
